# Default ignored files
/shelf/
/.idea/vcs.xml/
.idea/
out/
spring5_test_learn.iml
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
